{{ "<!-- head.html -->" | safeHTML -}}
{{ if or .Params.headless .Params.target .Params.alias -}}
    {{- $url := "404.html" | absLangURL }}
    {{- with or .Params.Target .Params.Alias }}
        {{- $url = . }}
    {{- end }}
    <title>{{ $url }}</title>
    <link rel="canonical" href="{{ $url }}">
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url={{ $url }}" />
{{- else -}}
    {{ partial "head/meta.html" . -}}
    {{- $siteTitle := or site.Title site.Params.title | plainify }}
    {{- $title := cond .IsHome $siteTitle (printf "%s | %s" .Title $siteTitle) | plainify  }}
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s (RSS)" />` .Rel .MediaType.Type .Permalink $title | safeHTML }}
    {{ end -}}
    {{ partialCached "head/js.html" . -}}
    {{ partialCached "head/css.html" . -}}
    {{- with .Resources.GetMatch "*.css" }}
        <style>{{ .Content | safeCSS }}</style>
    {{- end }}
    {{ partial "head/css/inline.html" . -}}
    <!-- INICIO DE TÍTULOS ELÁSTICOS -->
<style>
    /* 1. Forzamos la variable al 100% en el nivel más alto del contenido */
    body > main#home {
        --golden-ratio: 100% !important;
        --max-width: 100% !important;
    }

    /* 2. Liberamos los contenedores que viste en list.css */
    #list-posts > div, 
    .list-year > div,
    .textwidth {
        width: 100% !important;
        max-width: 100% !important;
        margin-left: 0 !important;
    }

    /* 3. Aseguramos que el enlace del post no tenga márgenes restrictivos */
    .list-day a {
        width: 100% !important;
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
</style>
    <!-- FIN DE TÍTULOS ELÁSTICOS -->
{{ end }}