{{ "<!-- head.html -->" | safeHTML -}}
{{ if or .Params.headless .Params.target .Params.alias -}}
    {{- $url := "404.html" | absLangURL }}
    {{- with or .Params.Target .Params.Alias }}
        {{- $url = . }}
    {{- end }}
    <title>{{ $url }}</title>
    <link rel="canonical" href="{{ $url }}">
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url={{ $url }}" />
{{- else -}}
    {{ partial "head/meta.html" . -}}
    {{- $siteTitle := or site.Title site.Params.title | plainify }}
    {{- $title := cond .IsHome $siteTitle (printf "%s | %s" .Title $siteTitle) | plainify  }}
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s (RSS)" />` .Rel .MediaType.Type .Permalink $title | safeHTML }}
    {{ end -}}
    {{ partialCached "head/js.html" . -}}
    {{ partialCached "head/css.html" . -}}
    {{- with .Resources.GetMatch "*.css" }}
        <style>{{ .Content | safeCSS }}</style>
    {{- end }}
    {{ partial "head/css/inline.html" . -}}
    <!-- INICIO DE TÍTULOS ELÁSTICOS -->
    <style>
        /* 1. Liberar el contenedor del feed para que no sea rígido */
        #list-posts > div, 
        .list-year.textwidth {
            width: 95% !important; /* Cambia el 61.8% por un ancho elástico */
            max-width: var(--max-width);
        }

        /* 2. Hacer que los títulos se ajusten al ancho disponible */
        .feed-item h1, 
        .list-day a span {
            width: 100% !important;
            display: inline-block;
        }

        /* 3. Ajuste para la vista cronológica por fechas */
        .list-day a {
            width: 100% !important;
            max-width: 100% !important;
        }
    </style>
    <!-- FIN DE TÍTULOS ELÁSTICOS -->
{{ end }}